<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>News Overview</Name>
    <Alias>umbNewsOverview</Alias>
    <Icon>package.png</Icon>
    <Thumbnail>folder_media.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>umbMaster</Master>
    <AllowedTemplates>
      <Template>umbNewsOverview</Template>
    </AllowedTemplates>
    <DefaultTemplate>umbNewsOverview</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>umbNewsItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>0e2a0463ce9d5902388d4b512122dd45</Hash>
</DocumentType>